{% load staticfiles %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Inicio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
	<div id="root">
    </div>
      {% render_bundle 'main' %}
	  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
			
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index'%}">Inicio
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'blog'%}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'unete'%}">Unete</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'events'%}">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'toplibros'%}">Top Libros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'nosotros' %}">Nosotros</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mi cuenta
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'login' %}">Iniciar sesión</a>
                            <a class="dropdown-item" href="{% url 'register' %}">Crear cuenta</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Nombre del libro" aria-label="Search"/>
                    <button class="btn sombra" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>

	{% block content %}
    {% endblock %}
    
    
	    <!-- /.container -->


    {% block footer %}
    <div class="container-fluid ml-auto bg-primary mt-3">

        <div class="container">
            <div class="row pt-3 pb-0">
                <div class="col-md col-xl-5 text-center">

                    <p class="mb-3">
                        <strong>¡No te pierdas nuestras noticias!</strong>
                    </p>
                    <div>
                        <div class="form-group" >
                            <a class="btn btn-danger" href="{% url 'login_admin' %}">Registrarse</a>
                        </div>
                        <p class="mt-0 frase">
                            <strong>Libros que cambian vidas</strong>
                        </p>
                    </div>

                </div>
                <div class="col-md col-xl-5  ml-auto
                ">

                    <div class="row">
                        <div class="col-3 col-sm-3 col-lg-3 mx-auto">
                            <a href="">
                                <img src="{% static 'img/facebook.png' %}" class="img-fluid redes">
                            </a>
                        </div>
                        <div class="col-3 col-sm-3 col-lg-3 mx-auto">
                            <a href="">
                                <img src="{% static 'img/twitter.png' %}" class="img-fluid redes">
                            </a>
                        </div>
                        <div class="col-3 col-sm-3 col-lg-3 mx-auto">
                            <a href="">
                                <img src="{% static 'img/instagram.png' %}" class="img-fluid redes">
                            </a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <p class="mx-auto">
                            <strong>Sigue nuestras redes sociales</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endblock footer %}
</body>
</html>