{% extends 'LeoBook/base.html' %} {% load staticfiles %} {% load static %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/css"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css"></script>
    <script type="text/css" src="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"></script>
    <style>

        .node circle {
            fill: #999;
        }

        .node text {
            font: 10px sans-serif;
        }

        .node--internal circle {
            fill: #555;
        }

        .node--internal text {
            text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
        }

        .link {
            fill: none;
            stroke: #555;
            stroke-opacity: 0.4;
            stroke-width: 1.5px;
        }

    </style>
    <div class="container">

        <h2 align="center">Gráfico Radial</h2>

        <div class="row">
            <svg width="1160" height="1160"></svg>
        </div>
    </div>
    <script src="https://d3js.org/d3.v4.min.js" crossorigin="anonymous"></script>
    <script>

        var svg = d3.select("svg"),
            width = +svg.attr("width"),
            height = +svg.attr("height"),
            g = svg.append("g").attr("transform", "translate(" + (width / 2 + 40) + "," + (height / 2 + 90) + ")");

        var stratify = d3.stratify()
            .parentId(function (d) {
                return d.id.substring(0, d.id.lastIndexOf("|"));
            });

        var tree = d3.tree()
            .size([2 * Math.PI, 350])
            .separation(function (a, b) {
                return (a.parent == b.parent ? 1 : 2) / a.depth;
            });

        d3.csv("mycsv.csv", function (error, data) {
            if (error) throw error;

            var root = tree(stratify(data));

            var link = g.selectAll(".link")
                .data(root.links())
                .enter().append("path")
                .attr("class", "link")
                .attr("d", d3.linkRadial()
                    .angle(function (d) {
                        return d.x;
                    })
                    .radius(function (d) {
                        return d.y;
                    }));

            var node = g.selectAll(".node")
                .data(root.descendants())
                .enter().append("g")
                .attr("class", function (d) {
                    return "node" + (d.children ? " node--internal" : " node--leaf");
                })
                .attr("transform", function (d) {
                    return "translate(" + radialPoint(d.x, d.y) + ")";
                });

            node.append("circle")
                .attr("r", 2.5);

            node.append("text")
                .attr("dy", "0.31em")
                .attr("x", function (d) {
                    return d.x < Math.PI === !d.children ? 6 : -6;
                })
                .attr("text-anchor", function (d) {
                    return d.x < Math.PI === !d.children ? "start" : "end";
                })
                .attr("transform", function (d) {
                    return "rotate(" + (d.x < Math.PI ? d.x - Math.PI / 2 : d.x + Math.PI / 2) * 180 / Math.PI + ")";
                })
                .text(function (d) {
                    return d.id.substring(d.id.lastIndexOf("|") + 1);
                });
        });

        function radialPoint(x, y) {
            return [(y = +y) * Math.cos(x -= Math.PI / 2), y * Math.sin(x)];
        }

    </script>

    <!-- D3.js -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

    <div class="container">
        <h2>Libros</h2>
        <table class="table table-hover" class="display" style="width:95%">
            <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
            </tr>
            </thead>
            <tbody>
            {% for book in Libros %}
                <tr>
                    <th scope="row">{{ book.id }}</th>
                    <td>{{ book.nombre }}</td>
                    <td>${{ book.precio }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>Descripcion De Ventas</h2>
        <table class="table table-hover" class="display" style="width:95%">
            <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Libro</th>
            </tr>
            </thead>
            <tbody>
            {% for d in Descripcion %}
                <tr>
                    <th scope="row">{{ d.id }}</th>
                    <td>{{ d.cantidad }}</td>
                    <td>{{ d.id_libro }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>Registro De Ventas</h2>
        <table class="table table-hover" class="display" style="width:95%">
            <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Total</th>
                <th scope="col">Usuario</th>
                <th scope="col">Descripción Venta</th>
            </tr>
            </thead>
            <tbody>
            {% for re in Registro %}
                <tr>
                    <th scope="row">{{ re.id }}</th>
                    <td>{{ re.total }}</td>
                    <td>{{ re.id_usuario }}</td>
                    <td>{{ re.id_descripcion_venta }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <!-- Optional JavaScript -->
    <script>
        $(document).ready(function () {
            $('table').DataTable(
            );
        });
    </script>
{% endblock %}