{% extends 'LeoBook/baseAdministrador.html' %} {% load staticfiles %}

{% block arriba %}
    <script>
        $.when($.ready).then(function () {
            var id,title,content,autor;
            var elemento_id;
            $('#editar').attr("disabled", true);
            $('#eliminar').attr("disabled", true);
            function carga() {

                $.get("{% url 'obtener_eventos' %}",
                    function (data) {
                        $.each(data, function (key, val) {
                            for (datos in val) {
                                id = "elemento" + val[datos].id;
                                title = val[datos].titulo;
                                content = val[datos].contenido;
                                $("#cuerpo_tabla").append("<tr class='table-primary' id='" + id + "'>" +
                                    "<td>" + val[datos].id + "</td>" +
                                    "<td id='titulo" + id + "'>" + title + "</td>" +
                                    "<td id='contenido" + id + "'>" + content + "</td>" +
                                    "</tr>");
                                $("#elemento" + val[datos].id + "").click(function () {
                                    var titulo = $("#titulo" + this.id + "").text();
                                    var contenido = $("#contenido" + this.id + "").text();
                                    $("#contenido").val(contenido);
                                    $("#titulo").val(titulo);
                                    elemento_id=this.id.substr(8);
                                    $('#boton').attr("disabled", true);
                                    $('#editar').attr("disabled", false);
                                    $('#eliminar').attr("disabled", false);
                                    console.log(elemento_id);
                                });
                            }
                        });

                    });
            }
            carga();
            var title_create, content_create, author_create, date_create;
            $("#formsearch").submit( function (e) {
                title_create=$("#titulo").val();
                content_create=$('#contenido').val();
                var date_tmp=new Date();
                date_create= date_tmp.getFullYear()+"-"+(date_tmp.getMonth()+1)+"-"+date_tmp.getDate();
                console.log(date_create);
                e.preventDefault();
                $.post("{% url 'crear_eventos' %}", {
                    titulo: title_create,
                    contenido: content_create,
                    fecha: date_create
                }, function (data) {
                    if(data.validacion==="true") {
                        var id=$("#tablita tr").length;
                        $("#cuerpo_tabla").append("<tr class='table-primary' id='" + id + "'>" +
                            "<td>" + id + "</td>" +
                            "<td id='titulo" + id + "'>" + title_create + "</td>" +
                            "<td id='contenido" + id + "'>" + content_create + "</td>" +
                            "</tr>");
                        $("#elemento" + id + "").click(function () {
                            var titulo = $("#titulo" + this.id + "").text();
                            var contenido = $("#contenido" + this.id + "").text();
                            $("#contenido").val(contenido);
                            $("#titulo").val(titulo);
                            console.log($("#tablita tr").length - 1);
                        });
                        $('#titulo').val("");
                        $('#contenido').val("");
                        alert("Blog creado");
                    }else {
                        alert("Error");
                    }
                });

            });

            $("#eliminar").click(function () {
                $.post("{% url 'eliminar_event' %}", {
                    id: elemento_id
                }, function (data) {
                    console.log($('#elemento' + elemento_id + '').val());
                    $('#titulo').val("");
                    $('#contenido').val("");
                    $('#elemento' + elemento_id + '').remove();
                    $('#boton').attr("disabled", false);
                    $('#editar').attr("disabled", true);
                    $('#eliminar').attr("disabled", true);
                })
            });
            $('#editar').click(function () {
                title_create=$("#titulo").val();
                content_create=$('#contenido').val();
                var date_tmp=new Date();
                date_create= date_tmp.getFullYear()+"-"+(date_tmp.getMonth()+1)+"-"+date_tmp.getDate();
                console.log(date_create);
                $.post("{% url 'editar_events' %}", {
                    id: elemento_id,
                    titulo: title_create,
                    contenido: content_create,
                    fecha: date_create
                }, function (data) {
                    if (data.validacion === "true") {
                        $('#tituloelemento' + elemento_id + '').text($('#titulo').val());
                        $('#contenidoelemento' + elemento_id + '').text($('#contenido').val());
                        $('#titulo').val("");
                        $('#contenido').val("");
                        //alert("Blog creado");
                    } else {
                        alert("Error");
                    }
                });
            })
        });

    </script>

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover" id="tablita">
                    <thead>
                    <tr class="table-success">
                        <th>Id</th>
                        <th>Titulo</th>
                        <th>Contenido</th>
                    </tr>
                    </thead>
                    <tbody id="cuerpo_tabla">

                    </tbody>
                </table>
            </div>

            <div class="col" id="modificacion">
                <div class="modal-body">
                    <form id="formsearch">
                        <div class="form-group">
                            <label for="text">Titulo:</label>
                            <input type="text" class="form-control" id="titulo">
                        </div>
                        <div class="form-group">
                            <label for="text">Contenido:</label>
                            <textarea type="text" class="form-control" id="contenido"></textarea>
                        </div>
                        <button type="submit" id="boton">Crear</button>
                    </form>
                        <button id="editar">Editar</button>
                        <button id="eliminar">Eliminar</button>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

