{% extends 'LeoBook/base.html' %} {% load staticfiles %}

{%block content%}
<div class="container text-center ">
    <h1 class="display-3">Suscríbete</h1>
    <h1 class="display-4 mb-4">¡Es gratis!</h1>
	<style>
			body {
				font-size: 11px;
				font-weight: 300;
				fill: #242424;
				text-align: center;
				text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
				cursor: default;
			}
			
			.legend {
				font-family: 'Raleway', sans-serif;
				fill: #333333;
			}
			
			.tooltip {
				fill: #333333;
			}
		</style>
		<h2 align="center">Tendencias en Categorías</h2>
		<div class="radarChart"></div>
    <p class="lead mb-2">Noticias, descuentos y futuros eventos de tu lugar favorito.</p>



        
        <img src="{% static 'img/bookcase.jpg' %}" class="img-thumbnail img-responsive bookcase my-3">

        <div class="col-lg-6 mx-auto">
          <div class="suscribirse input-group mb-3 mx-auto">
              <input type="text" class="form-control" placeholder="Ingresa tu correo aquí " aria-label="Insert your email here" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">Suscribirse</button>
              </div>

            </div>
        </div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8" crossorigin="anonymous"></script>
		
		

		<script src="{% static 'js/radarChart.js' %}"></script>	
		<script src="{% static 'js/jquery.csv.min.js' %}"></script>	
		<script src="{% static 'js/papaparse.min.js' %}"></script>	
		<script>
      
      /* Radar chart design created by Nadieh Bremer - VisualCinnamon.com */
      
			////////////////////////////////////////////////////////////// 
			//////////////////////// Set-Up ////////////////////////////// 
			////////////////////////////////////////////////////////////// 

			var margin = {top: 100, right: 100, bottom: 100, left: 100},
				width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
				height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);
					
			////////////////////////////////////////////////////////////// 
			////////////////////////// Data ////////////////////////////// 
			//////////////////////////////////////////////////////////////
			var j=$.csv.toObjects("static/js/myAnothercsv.csv");
			var data = [[{axis:"Ficcion",value:0.6},{axis:"Horror",value:0.4},{axis:"Comedia",value:0.3}]];
			console.log(j);
			////////////////////////////////////////////////////////////// 
			//////////////////// Draw the Chart ////////////////////////// 
			////////////////////////////////////////////////////////////// 

			var color = d3.scale.ordinal()
				.range(["#EDC951","#CC333F","#00A0B0"]);
				
			var radarChartOptions = {
			  w: width,
			  h: height,
			  margin: margin,
			  maxValue: 0.5,
			  levels: 5,
			  roundStrokes: true,
			  color: color
			};
			//Call function to draw the Radar chart
			RadarChart(".radarChart", data, radarChartOptions);
		</script>

  </div>
{% endblock %}