{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Inicio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet">
</head>

<body>
    {% block barranavegacion %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Inicio
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="blog.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Mi cuenta
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="inicio.html">Iniciar sesión</a>
                            <a class="dropdown-item" href="#">Crear cuenta</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Salir</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Nombre del libro" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
    {% endblock barranavegacion %} {% block footer %}
    <div class="container-fluid ml-auto bg-primary mt-3">

        <div class="container">
            <div class="row pt-3 pb-0">
                <div class="col-md col-xl-5 text-center">

                    <p class="mb-3">
                        <strong>¡No te pierdas nuestras noticias!</strong>
                    </p>


                    <div>

                        <div class="suscribirse input-group mb-3 mx-auto">

                            <input type="text" class="form-control" placeholder="Correo electrónico" aria-label="Insert your email here" aria-describedby="basic-addon2">
                            <div class="input-group-append">

                                <button class="btn btn-dark" type="button">Suscribirse</button>
                            </div>


                        </div>
                        <p class="mt-0 frase">
                            <strong>Libros que cambian vidas</strong>
                        </p>
                    </div>

                </div>
                <div class="col-md col-xl-5  ml-auto
                ">

                    <div class="row">
                        <div class="col-3 col-sm-3 col-lg-3 mx-auto">
                            <a href="">
                                <img src="{% static 'img/facebook.png' %}" class="img-fluid redes">
                            </a>
                        </div>
                        <div class="col-3 col-sm-3 col-lg-3 mx-auto">
                            <a href="">
                                <img src="{% static 'img/twitter.png' %}" class="img-fluid redes">
                            </a>
                        </div>
                        <div class="col-3 col-sm-3 col-lg-3 mx-auto">
                            <a href="">
                                <img src="{% static 'img/instagram.png' %}" class="img-fluid redes">
                            </a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <p class="mx-auto">
                            <strong>Sigue nuestras redes sociales</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endblock footer %}
</body>

</html>